
.login-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid hsl(0, 0%, 94%);
  padding: 60px 40px;
  .login {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  .login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
}